.loading_recoder_menu {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  max-width: 900px;
  margin: 0 auto;

  .animate-pulse {
    background: #bebebe;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 1rem;
    &__item {
      height: 8px;
      width: 24px;
      border-radius: 24px;
    }
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  &__timer {
    height: 8px;
    width: 24px;
    border-radius: 24px;
  }
  &__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &__item {
      height: 200px;
      width: 200px;
      border-radius: 8px;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 5rem;
    &__item {
      height: 32px;
      width: 100px;
      border-radius: 24px;
    }
  }
}
